{% extends "layout_customer.html" %}
{% block body %}

    <div class="container">
        <div id="list_area" class="base_pattern">
            <h1 id="main_title">{{event.event_name}}</h1>
            <p>イベントカテゴリ：{{event_category.event_category_name}}</p>
            <p>開催日：{{event.event_date}}</p>
            <p>開催場所：{{event.event_place}}</p>
            <p>概要<br>{{event.event_overview}}</p>
        
            <a href="{{url_for('show_customer_event_list')}}" class="btn btn-secondary">一覧に戻る</a>
            <a href="" class="btn btn-success">予約する</a>
        </div>
    </div>

{% endblock %}