{% extends "layout_customer.html" %}
{% block body %}

    <div class="container">
        <nav>
            <p class="menu">
                <a href="{{ url_for('show_mypage') }}">マイページ</a>
                ><a> 削除確認</a>
            </p>
        </nav>
        <div class="base_pattern">
            <h1 id="main_title">{{event.event_name}}</h1>
            <p>開催日：{{event.event_date}}</p>
            <p>開催場所：{{event.event_place}}</p>
            <p>概要：<br>{{event.event_overview}}</p>
        
            <a href="{{ url_for('show_mypage') }}" class="btn btn-secondary">マイページへ</a>
            <a href="" class="btn btn-danger">キャンセルする</a>
        </div>
    </div>


{% endblock %}