{% extends "layout_customer.html" %}
{% block body %}
<main>
    <div id="list_area" class="base_pattern">
        <div style="display: flex;">
            <h1 id="main_title">
              マイページ
            </h1>
            <a href="{{url_for('show_customer_event_list')}}" class="btn btn-secondary" style="margin-top: 25px; margin-left: auto; height: 40px;">一覧に戻る</a>
        </div>

        <div>
            <h2>アカウント情報</h2>
            <div class="container">
                <div class="base_pattern">
                    <p>アカウント名（メールアドレス）：{{ current_customer.customer_account }}</p>
                    <p>会員名：{{ current_customer.customer_name }}</p>
                    <p>郵便番号：{{ current_customer.customer_zipcode }}</p>
                    <p>住所：{{ current_customer.customer_address }}</p>
                    <p>電話番号：{{ current_customer.customer_phone }}</p>
                    <a href="{{url_for('show_customer_info_form', mode='update')}}" class="btn btn-primary">
                      変更する
                    </a>

                    <a href="{{url_for('show_customer_info_form', mode='delete')}}" class="btn btn-primary">
                      退会する
                    </a>
                </div>
            </div>
        </div>

        <br>

        <div>
            <h2>チケット予約履歴</h2>
            <div class="container">
            <div id="list_area" class="base_pattern">
                <div id="output_list_table">
                  <!-- ここに一覧表を表示する -->
                    <div id="">
                      <table border="1">
                        <tbody>
                          <tr>
                            <th class="event_name">イベント名</th>
                            <th class="action_button"></th>
                          </tr>
                          {% for current_reserved_event_name in current_reserved_event_names %}
                          <tr>
                            <form method="post">
                              <td class="event_name">{{current_reserved_event_name.event_name}}</td>
                                <td class="action_button">
                                  <div>
                                    <a href="{{ url_for('show_customer_event_detail', event_id=event.event_id) }}" class="btn btn-danger" style="margin: 0 auto;">キャンセルする</a>
                                  </div>
                                </td>
                              </form>
                            </tr>
                          {% else %}
                          イベントデータが存在しません。
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}