<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title>ムジクロチケット管理ページ</title>

	<!-- bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery3.2.1.slim.min.js">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
	</script>
	<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
	crossorigin="anonymous"
  	></script>

	<!-- サイト共用 CSS -->
	<link rel="stylesheet" href="/static/css/common/base.css">
	<link rel="stylesheet" href="/static/css/common/button.css">
	<link rel="stylesheet" href="/static/css/common/form.css">
	<link rel="stylesheet" href="/static/css/common/list.css">
	<link rel="stylesheet" href="/static/css/common/table.css">

</head>

<body>
	<!-- ヘッダー領域 -->
	<header>
		<div class="container">
			<div class="site_title">
				<a href="{{url_for('show_user_event_list')}}"><img src="/static/images/logo_customer.png" alt="ムジクロチケット"></a>
			</div>
			<div class="user_infomation">
				<p>
					{% if not session.logged_in_customer %}
					ゲストさん
					{# elif session.logged_in_staff_account #}
					{% elif session.logged_in_customer_account %}
					{{ session.logged_in_customer_name }}さん
					{% endif %}
				</p>
				<div style="display: flex;">
					<p style="margin-right: 10px;">
						{% if session.logged_in_customer %}
						<input id="" type="button" value="マイページ"
							onClick="location.href=``">
						{% endif %}
					</p>
					<p style="margin-left: auto;">
						{% if session.logged_in_customer %}
						<input id="logout_button" type="button" value="ログアウト"
							onClick="location.href=`{{url_for('customer_logout')}}`">
						{% else %}
						<input id="logout_button" type="button" value="ログイン"
						onClick="location.href=`{{url_for('show_login')}}`">
						{% endif %}
					</p>
				</div>
			</div>
		</div>
	</header>

	<!-- flashメッセージ表示 -->
	{% for message in get_flashed_messages() %}
	<div class="alert alert-info" role="alert">
		{{ message }}
	</div>
	{% endfor %}

	<!-- メインコンテンツ領域 -->
	<div class="mujiclo-staff-body">
		{% block body %}{% endblock %}
	</div>

	<!-- フッター領域 -->
	<footer>
		<div class="container">
			<p class="copyright"><small>© MUJIQLO ENTERTAINMENT INC.</small></p>
		</div>
	</footer>
</body>

</html>