{% extends "layout_customer.html" %}
{% block body %}
<main>
    <div class="container base_pattern">
        <form action="{{url_for('customer_login')}}" method="post">
            <div class="form-group">
                <label class="form-label" for="customer_account">アカウント名：</label>
                <input class="form-control" id="customer_account" name="customer_account" type="text"> 
            </div>
        
            <div class="form-group">
                <label class="form-label" for="customer_password">パスワード：</label>
                <input class="form-control" id="customer_password" name="customer_password" type="password"> 
            </div>
        
            <a class="btn btn-secondary" href="{{url_for('show_customer_event_list')}}">一覧に戻る</a>
            <button class="btn btn-primary" type="submit">ログイン</button> 
            <a href="{{url_for('show_signup')}}" style="margin-left: 10px;">新規登録はこちら</a>
        </form>
        
    </div>
</main>

{% endblock %}