{% extends "layout_staff.html" %} 

{% block body %}

{# イベントの登録フォーム #}
<div class="container">
    <form action="{{url_for('confirm_event_new')}}" method="post">

        <div class="form-group">
            <label for="event_name" class="form-label">イベント名<span style="color: red;">(必須)</span></label>
            <input type="text" class="form-control" id="event_name" name="event_name" required>
        </div>
    
        <div class="form-group">
            <label for="event_categories" class="form-label">イベントカテゴリ</label>
            {# チェックボックスを置き、複数のカテゴリを選択できるようにする #}
            <div class="form-check">
                {% for event_category in event_categories %}
                <div class="radioclass">
                    <input class="form-check-input" type="radio" value="{{event_category.event_category_id}}" id="{{event_category.event_category_id}}" name="event_category_id">
                    <label class="form-check-label" for="{{event_category.event_category_id}}">{{event_category.event_category_name}}</label>
                </div>
                {% else %}
                <input type="radio" id="contactChoice1" name="event_category_id" value="1" checked required>1
                {% endfor %}
            </div>
        </div>
    
        <div class="form-group">
            <label for="event_place"  class="form-label">開催場所</label>
            <input type="text" class="form-control" id="event_place" name="event_place">
        </div>
        
        <div class="form-group">
            <label for="event_date"  class="form-label">開催日</label>  
            <input type="date" class="form-control" id="event_date" name="event_date">
        </div>
    
        <div class="form-group">
            <label for="event_overview" class="form-label">概要</label>
            <textarea type="text" class="form-control" id="event_overview" name="event_overview"></textarea>
        </div>
    
        <button type="submit" class="btn">確認</button>
    </form>
    
    <a href="{{url_for('show_event_list')}}" class="btn btn-secondary">一覧に戻る</a>
    
</div>

{% endblock %}