{% extends "layout_staff.html" %}

{% block body %}

<!-- 機能共用 CSS -->
<link rel="stylesheet" href="/static/css/staff/staff_customer_manage.css">

<!-- ナビゲーション領域 -->
<nav>
  <div class="container">
    <p class="menu">
      <a href="{{ url_for('staff_staff_top') }}">スタッフメニュー</a>
      > イベント一覧
    </p>
  </div>
</nav>

<!-- メインコンテンツ領域 -->
<main>
  <div class="container">
    <div style="display: flex;">
        <h1 id="main_title">
            イベント一覧
        </h1>
        <div style="margin-top: 25px; margin-left: auto;">
            <a type="submit" href="{{url_for('show_event_new')}}" class="btn btn-primary">新規作成</a>
        </div>
    </div>

    <div id="list_area" class="base_pattern">
      <div id="output_list_table">
        <!-- ここに一覧表を表示する -->
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab">開催予定/開催中</a>
          </li>
          <li>
            <a class="nav-link" data-bs-toggle="tab">開催済</a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="" class="tab-pane active">
            <table border="1">
              <tbody>
                <tr>
                  <th class="">イベント名</th>
                  <th class="">開催日</th>
                  <th class="">開催場所</th>
                  <th class="action_button"></th>
                </tr>
                {% for event in events%}
                <tr>
                  <form method="post">
                    <td class=""><a href="{{url_for('show_event_detail', event_id=event.event_id)}}">{{event.event_name}}</a></td>
                    <td class="">{{event.event_date}}</td>
                    <td class="">{{event.event_place}}</td>
                    <td class="action_button">
                      <div>
                        <a href="{{url_for('show_event_edit', event_id=event.id)}}" class="btn btn-secondary">変更</a>
                        {% if event.isDeletable != false %}
                        <input type="submit" formaction="/"
                        class="half_button" value="削除" />
                        {% endif %}
                      </div>
                    </td>
                  </form>
                </tr>
                {% else %}
                イベントデータが存在しません。
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div id="" class="tab-pane">
            <table border="1">
              <tbody>
                <tr>
                  <th class="">イベント名</th>
                  <th class="">開催日</th>
                  <th class="">開催場所</th>
                  <th class="action_button"></th>
                </tr>
                {% for event in events%}
                <tr>
                  <form method="post">
                    <td class=""><a href="{{url_for('show_event_detail', event_id=event.event_id)}}">{{event.event_name}}</a></td>
                    <td class="">{{event.event_date}}</td>
                    <td class="">{{event.event_place}}</td>
                    <td class="action_button">
                      <div>
                        <a href="{{url_for('show_event_edit', event_id=event.id)}}" class="btn btn-secondary">変更</a>
                        {% if event.isDeletable != false %}
                        <input type="submit" formaction="/"
                        class="half_button" value="削除" />
                        {% endif %}
                      </div>
                    </td>
                  </form>
                </tr>
                {% else %}
                イベントデータが存在しません。
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div id="button_area"></div>
  </div>
</main>
{% endblock %}