{% extends "layout_staff.html" %}

{% block body %}

<!-- メインコンテンツ領域 -->
<main>
	<div class="container">
		<h1 id="main_title">
			スタッフメニュー
		</h1>
		<div id="menu_button_area">
			<p>
				<input type="button" class="menu_button" value="会員管理"
					onClick="window.location.href=`{{url_for('staff_manage_customer')}}`">
			</p>
			<p>
				<input type="button" class="menu_button" value="イベントカテゴリ管理" onClick="alert('未実装')">
			</p>
			<p>
				<input type="button" class="menu_button" value="イベント管理" 
				    onClick="window.location.href=`{{url_for('show_event_list')}}`">
			</p>
			<p>
				<input type="button" class="menu_button" value="チケット管理"
					onClick="window.location.href=`{{url_for('staff_manage_ticket')}}`">
			</p>
			<p>
				<input type="button" class="menu_button" value="予約管理"
					onClick="window.location.href=`{{url_for('staff_manage_reservation')}}`">
			</p>
		</div>
	</div>
</main>
{% endblock %}