{% extends "layout_staff.html" %}

{% block body %}


<nav>
  <div class="container">
    <p class="menu">
      <a href="{{ url_for('staff_staff_top') }}">スタッフメニュー</a>
      > イベントカテゴリ管理
    </p>
  </div>
</nav>


<!-- メインコンテンツ領域 -->
<main>
  <div class="container">
    <h1 id="main_title">
      イベントカテゴリ一覧
    </h1>
    <a href="{{ url_for('show_input_form', mode='create') }}" class="btn btn-primary">イベントカテゴリ名新規登録</a>
    <div id="list_area" class="base_pattern">
      <div id="output_list_table">
        <!-- ここに一覧表を表示する -->
        <table border="1">
          <tbody>
            <tr>
              <th class="event_category_name">イベントカテゴリ名</th>
              <th class="action_button"></th>
            </tr>
            {% for category in categories %}
            <tr>
              <th class="category_name">{{ category.event_category_name }}</th>
              <th class="category_form">
                <form action='{{ url_for("show_input_form", mode="update") }}' method="post">
                  <button type="submit" class="btn btn-primary" name="event_category_id"
                    value="{{category.event_category_id}}">変更</button>
                </form>
                <form action='{{ url_for("show_input_form", mode="delete") }}' method="post">
                  <button type="submit" class="btn btn-primary" name="event_category_id"
                    value="{{category.event_category_id}}">削除</button>
                </form>
              </th>
            </tr>
            {% else %}
            ユーザーデータが存在しません。
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div id="button_area">

    </div>
  </div>
</main>
{% endblock %}