{% extends "layout_customer.html" %}
{% block body %}
<!-- 機能共用 CSS -->
<link rel="stylesheet" href="/static/css/custmer/custmer.css">
<!-- ナビゲーション領域 -->
<nav>
    <div class="container">
        <p class="menu">
            <a href="{{ url_for('show_customer_event_list') }}">イベんト一覧</a>
            >
            <a href="{{ url_for('show_customer_reservation') }}">チケット予約</a>
            <!-- {% if mode == 'get_ticket' %}  -->
            > チケット予約確認
            <!--mode処理を行う場合は以下を復活-->
            <!-- 
            {% elif mode == 'delete_ticket' %}
            > チケット削除確認
            {% endif %}
            -->
        </p>
    </div>
</nav>

<!-- メインコンテンツ領域 -->
<div class="event_inf">
    <div class="confirm_text_area">
        <!--
        {% if mode = 'get_ticket' %}
        -->
        <p>以下の内容でチケットを予約します。</p>
        <!--
        {% elif mode == 'delete_ticket' %}
        <p>以下の内容でチケットを削除します。</p>
        -->
    </div>
    <h1>{{event.event_name}}</h1>
    <p>イベントカテゴリ：{{event_category.event_category_name}}</p>
    <p>開催日：{{event.event_date}}</p>
    <p>開催場所：{{event.event_place}}</p>
    <form method="post" action="{{url_for('show_customer_ticket_confirm')}}">
        <div class="form-group">
            <label>アカウント名：</label>
            <input class="form-control" name="customer_account" type="text" value="{{customer_account}}" disabled>
            <br>
            <label>パスワード<span class="required">（必須）</span>：</label>
            <input class="form-control" name="customer_password" type="password" value="{{customer_password}}" disabled>
            <br>
            <label>郵便番号</label>
            <input class="form-control" name="customer_zipcode" type="tel" value ="{{customer_zipcode}}" disabled>
            <br>
            <label>住所</label>
            <input class="form-control" name="customer_address" type="text" value ="{{customer_address}}" disabled>
            <br>
            <label>電話番号：</label>
            <input class="form-control" name="customer_phone" type="tel" value ="{{customer_phone}}" disabled>
    
          </div>
    </form>
    <div id="button_area">
        <input type="button" class="other_button" value="一覧画面へ戻る"
            onclick="location.href=`{{url_for('show_customer_event_list'}}`">
        <!--{% if mode = 'get_ticket' %} -->
        <input type="submit" formaction="{{ url_for('show_customer_event_list') }}" class="go_next_button"
            value="予約"> <!--url_for('~')の後に、mode実装するならばmode=mode を書き込む必要あり-->

        <!--{% elif mode == 'delete_ticket' %} -->  
        <!--  
        <input type="submit" formaction="{{ url_for('customer_top', mode=mode) }}" class="go_next_button"
            value="削除">
        --> 
        <!--url_for('~')の後に、mode実装するならばmode=mode を書き込む必要あり-->
        
    </div>
</div>
{% endblock %}