{% extends "layout_staff.html" %}
{% block body %}

  <!-- 機能共用 CSS -->
  <link rel="stylesheet" href="/static/css/staff/staff_ticket.css">
  <!-- ナビゲーション領域 -->
  <nav>
    <div class="container">
      <p class="menu">
        <a href="{{ url_for('staff_staff_top') }}">スタッフメニュー</a>
        >
        <a href="{{ url_for('staff_manage_ticket') }}">チケット管理</a>
        {% if mode == 'create' %}
          > 新規登録
        {% elif mode == 'update' %}
          > 変更内容入力
        {% endif %}
      </p>
    </div>
  </nav>

  <!-- メインコンテンツ領域 -->
  <main>
    <div class="container">
      <h1 id="main_title">
        <!-- ここに ページタイトルを表示する -->
      </h1>
      <h2 id="main_sub_title">チケット情報</h2>

      <form id="inputForm" method="post">
        <div id="form_area" class="base_pattern">

          <p>イベント名<span class="required">（必須）</span>：</p>
          <p id="output_event_sb">
            <select id="event_sb" name="event_id" form="inputForm" required="required">
              <option value="0">イベントを選択</option>
              {% for event in event_param_list %}
                <option value="{{ event.event_id }}" {{ event.status }}>{{ event.event_name }}</option>
              {% endfor %}
            </select>
          </p>

          <p>席種<span class="required">（必須）</span>：</p>
          <p id="output_ticket_seat_sb">
            <select id="ticket_seat_sb" name="ticket_seat_id" form="inputForm">
              {% for seat_param in seat_param_list %}
                <option value="{{ seat_param.seat_id }}" {{ seat_param.status }}>{{seat_param.seat_name}}</option>
              {% endfor %}
            </select>
          </p>

          <p>料金<span class="required">（必須）</span>：</p>
          <p><input name="ticket_price" type="text" value="{{ ticket_price }}"></p>

          <p>受付状態<span class="required">（必須）</span>：</p>
          <p class="radioButton">
            {% if ticket_accept == '1' %}
              <input type="radio" name="ticket_accept" value="0">
              準備中 &nbsp;&nbsp;
              <input type="radio" name="ticket_accept" value="1" checked="checked">
              受付中 &nbsp;&nbsp;
              <input type="radio" name="ticket_accept" value="2">
              受付終了
            {% elif ticket_accept == '2' %}
              <input type="radio" name="ticket_accept" value="0">
              準備中 &nbsp;&nbsp;
              <input type="radio" name="ticket_accept" value="1">
              受付中 &nbsp;&nbsp;
              <input type="radio" name="ticket_accept" value="2" checked="checked">
              受付終了
            {% else %}
              <input type="radio" name="ticket_accept" value="0" checked="checked">
              準備中 &nbsp;&nbsp;
              <input type="radio" name="ticket_accept" value="1">
              受付中 &nbsp;&nbsp;
              <input type="radio" name="ticket_accept" value="2">
              受付終了
            {% endif %}
          </p>

          <!-- hidden属性の項目 -->
          <input name="ticket_id" type="hidden" value="{{ ticket_id }}">

        </div>
        <div id="button_area">
          <input type="button" class="other_button" value="一覧画面へ戻る" onclick="location.href=`{{url_for('staff_manage_ticket')}}`">
          <input type="submit" formaction="{{ url_for('confirm_ticket', mode=mode) }}" class="go_next_button" value="確認画面へ">
        </div>
      </form>
    </div>
  </main>
{% endblock %}